  .center-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66.66%;
  }
  
  .input-box {
    color: black;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    background-color: white;
  }

  .input-field::placeholder {
    color: #ccc;
  }
  
  .label {
    color: rgb(38, 37, 37);
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .input-field {
    width: 95%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
  }
  
  .submit-button {
    float: right;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  